<!DOCTYPE html>
<html ng-app="worldNews" lang="en">
<head>
    <meta charset="UTF-8">
    <title>WorldNews</title>
    <link rel="stylesheet" href="worldc.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">


</head>
<body style="background-color: black; position: relative; float: left; width: 100%;
  ">

<div ng-controller="worldNewsController" style=" border: 2px; margin-left: 10%;  margin-top:10px; width:1140px; height:100%; background-color:white;position: relative; float: left">


    <div id="navigationNew"  >
        <div style="float: left; width: 200px; color: black !important;">
            <a href="index.html">
                <span style="font-size: 22px; color: black; font-weight: bold">THE</span></br>
                <span style="font-size: 30px; color: black; font-weight: bold">REAL <span style="color: red; font-weight: bold">NEWS</span></span>
            </a>
        </div>
        <div style="float: left">
            <ul>
                <center>

                    <li><a href="../localNews/localNews.html">Home</a></li>
                    <li><a href="../worldNews/worldnews.html">World News</a></li>
                    <li><a href="../sportNews/sports.html">Sports</a></li>
                    <li><a href="../entertainmentNews/index.html">Entertainment</a></li>
                    <li><a href="../about%20us/about.html">About Us</a></li>
                </center>

            </ul>
        </div>


    </div>

    <div style="position: relative; float: left">
        <div style=" width:750px; margin-left: 21px; margin-top: 3px; float: left; position: relative;">

            <div style="width:750px; height: 450px; float: left; position:relative;">

                <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                    <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                        <a href="{{slide.web_url}}" target="_blank">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                        </a>
                        <div class="carousel-caption">
                            <p>{{slide.text}}</p>
                        </div>
                    </uib-slide>
                </uib-carousel>

            </div>

            <div style="width:720px; margin-left: 10px; margin-top: 10px; margin-bottom:45px;  float: left; position: relative">

                <div class="main-heads">
                    <span style="font-size: 19px">MORE ARTICLES</span>
                </div>

                <div class="moreLatest-article" ng-repeat="article in news">

                    <img ng-show="article.multimedia[0].url" width="190" height="126" src="{{'http://www.nytimes.com/'+ article.multimedia[0].url}}" alt="" />
                    <div style="width: 230px; float: left; margin-top: 5px;">
                        <span style="font-weight: bold; font-size: larger">{{article.headline.main}} </span>

                    </div>
                    <div style="width: 230px; float: left; margin-top: 5px;">
                        <span>{{article.snippet}}</span>

                    </div>
                    <div style="width: 230px; float: left; margin-top: 5px;">
                        <a href="{{article.web_url}}" target="_blank"><span style="color: red">READ MORE</span></a>

                    </div>
                </div>


            </div>


        </div>


        <div style="width:290px; margin-left: 40px; margin-bottom:10px; float:left; position: relative">


            <div style="float:left; width: 280px; border-bottom:4px solid #cf0000; margin-top: 10px;">

                <span style="float: left; color: red; font-size: 20px; padding: 4px;">popular</span>
                <span style="float: right; font-size: 20px; padding: 4px;">Most Read</span>
            </div>

            <div class="sideBar" ng-repeat="article in newsPopular">
                <div style="">
                    <span style=" font-size: 10px; font-style: italic ">{{article.pub_date | date}}</span>
                </div>
                <div style="">
                    <span style="float: left; font-size: 13px; font-weight: bold ">{{article.headline.main}}<a href="{{article.web_url}}" target="_blank" style="color: red ; font-weight: 100">Read More</a></span>
                </div>
            </div>
        </div>

    </div>

    <div style="border-top:1px dotted #202021; width: 1090px; height: 100px;  float:left; margin-left: 26px;position: relative">


        <div id="footer" class="text-center">
            <div class="bottom-menu">
                <ul>
                    <li><a href="../localNews/localNews.html">Home</a></li> |
                    <li><a href="../worldNews/worldnews.html">World News</a></li> |
                    <li><a href="../sportNews/sports.html">Sports</a></li> |
                    <li><a href="../entertainmentNews/index.html">Entertainment</a></li> |
                    <li><a href="../about%20us/about.html">About Us</a></li> |
                </ul>
            </div>
            <div class="copyright text-center">
                <p>The REAL News &copy; 2016 All rights reserved</p>
            </div>
        </div>

    </div>

</div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"> </script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js"></script>
<script src="app.js"></script>


</html>