*{
	margin: 0;
	padding: 0;
	list-style: none;

}
img{
	border: none;
	border-radius: 3px;
}

a{
	color: #00061a;
	text-decoration: none;
	text-shadow: none;
}
a:hover{
	color: #B82924;
}
p{
	margin-bottom: 8px;
}
::-moz-selection {
       background-color: #B82924;
       color: #fff;
}
/* Works in Safari */
::selection {
       background-color: #B82924;
       color: #fff;
       }
/************** G E N E R A L    S T Y L E ***************/
#wrapper{
	width: 950px;
	margin: 16px auto;
	background-color: #b3cccc;
	padding: 20px 90px;
}

body{
	background:url('../images/bg.jpg') no-repeat 0px 0px;
	background-size: 100% 100%;
	font-family: Tahoma, sans-serif;
	color: #0d0d0d;
	font-size: 14px;
}
body h1{
	color:#4d4d00;
}

/************* L O G O   &  N A V   B A R    S T Y L E ****************/
header h1{
	font-family:  Impact, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 2.5em;
	position: relative;
	width: 300px;
	margin-bottom: 2px;
}
header h2{
	font-size: 16px;
	font-weight: normal;
	font-family: sans-serif;
	width: 170px;
	
}
#tagline h1{
	margin-top: 1px;
	color: green;
	left: 10px;
	font-size: 34px;
	font-style: italic;
	font-family: sans-serif;
	font-weight: bold;
	margin-bottom: -15px;
}		
#page h1{
	margin-top: -35px;
	color: #0d0d0d;
	left: 10px;
	font-size: 34px;
	font-style: italic;
	font-family: sans-serif;
	font-weight: bold;
	margin-bottom: -25px;
	float: right;
	text-align: center;
}
#logo, nav, nav li{
	display: inline-block;
	vertical-align: top;
	*display: inline;
	zoom:1;
}
#logo{
	width: 270px;
}
#logo h2{
	margin-top: 1px;
	color: black;
	margin-left: 15px;
	left: 10px;
	font-size: 20px;
	font-style: italic;
	font-family: sans-serif;
	font-weight: bold;
	margin-bottom: -15px;
}
nav a {
	color: #3333cc;
	font-family: sans-serif;
	font-size: 20px;
	margin-left: 25px;
	text-transform: uppercase;
}

nav{
	margin: 20px 4px 0 0;
	float: right;
}
header{
	margin-bottom: 50px;
}
#home a#homenav {
	color: #b82924;
}
/*************** B A N N E R    S T Y L E ******************/
#banner{
	position: relative;
	margin-bottom: 30px;
}
#banneri{
	position: absolute;
	bottom: 15%;
	left: 0;
	width: 500px;
	background-color: rgba(0,0,0,.8);
	padding: 5px 10px;
}
#banner img{
	box-shadow: 0 4px 6px #000;
}
#banner h1{
	font-family: Impact, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px #000;
	display: inline;
}
#banner .rm{
	position: absolute;
	color: #000;
	background-color: #fff;
	padding: 4px 8px;
	right: 3%;
	bottom: -10%;
}

/************* H O M E    C O N T E N T *******************/
#line h1{
	font-family: Impact, sans-serif;
	font-weight: normal;
	font-size: 18px;
	text-transform: uppercase;
	color: #4d4d4d;
	text-align:  center;
}
#line h1, .dline{
	display: inline-block;
	*display: inline;
	zoom:1;
	margin: 0 0 0 10px;
}
#line{
		margin: 0 0 0 80px;
}
.dline{
	width: 312px;
	height: 3px;
	background: url('../images/bgdline.png') repeat-x ;
	margin-bottom: 10px;
}
#lnews article{
	width: 275px;
	display: inline-block;
	*display: inline;
	zoom:1;
	vertical-align: top;
	margin: 0 38px 0 0;
}
#lnews article h1, #latestp article h1{
	font-family: sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 5px;
}
#lnews article img{
	width: 275px;
	height: 140px;
}
.lastarticle{
	margin:0;
}
#lnews{
	margin: 8px 0 15px 20px;
	width: 100%;
}
#lnews img, #latestp img{
	margin-bottom: 5px;
    box-shadow: 0 4px 6px #000;
}
.rm{
	color: #121212;
	background-color: green;
	padding: 1px 4px;
	display:block;
	width: 70px;
	margin-top: 5px;
	margin-bottom: 10px;
	font-family: sans-serif;
	text-transform: uppercase; 
	font-size: 10px;
	border-radius: 2px;
}
.rm:hover{
	background-color: white;
	color: #121212;
}	

/************* B L O G    S T Y L E  &   C O N T A C T   P A G E *****************************/
#articles, #sidebar{
	display: inline-block;
	vertical-align: top;
	*display: inline;
	zoom:1;
}
#blog section, #contact section{
	margin: 30px 0 0 10px;
}
#sidebar, #contat #sidebar{
	width: 280px;
	margin:0 0 0 55px;
}
#articles, #contactpost{
	width: 600px;
	margin:0 0 40px 0;
}
#blog li, #contact li{
	list-style-type: square;
}
#blog article{
	width: 580px;
	margin-bottom: 40px;
}
#blog footer, #contact footer{
	margin-top: 0px;
}
#blog article h1 a{
	font-family: sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 22px;
	text-shadow: 1px 1px 0 #000;
	word-spacing: 2px;
	margin-bottom: 5px;
}
#blog article h2{
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0.2px;
	margin-bottom: 12px;
	background-color: #0a0a0a;
	padding: 4px 8px 4px 8px;
	font-family: sans-serif;
	text-transform: none;
}
#blog article h2 a:hover{
	text-decoration: underline;
}
#blog article img{
	box-shadow: 0 4px 6px #000;
	margin-bottom: 10px;
}
#sidebar h1, #contact #sidebar h1{
	font-family: sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 22px;
	word-spacing: 2px;
	margin-bottom: 4px;
}
#sidebar li, #contact #sidebar li {
	margin:0 0 4px 25px;
	color: #b82924;
}
#sidebar li:hover, #contact #sidebar li:hover{
	margin-left: 30px;
}
#sidebar li a:hover, #contact #sidebar li a:hover{
	text-decoration: underline;
}
#blog aside, #contact #sidebar aside{
	margin: 0 0 20px 0;
}
#cat, #archives, #contact #sidebar  #cat, #contact #sidebar #archives{
	width: 130px;
	display: inline-block;
	vertical-align: top;
	*display: inline;
	zoom:1;
}
.continue{
	text-decoration: underline;
}
/* SINGLE POST STYLE  and CONTACT PAGE with SIDEBAR*/
#singlepost, #sidebar, #contactpost{
	display: inline-block;
	vertical-align: top;
	*display: inline;
	zoom:1;
}
#singlepost{
	margin-right: 50px;
}
#singlepost h1{
	margin-top: 20px;
	margin-bottom: 20px;
	color: #660033;
	font-size: 40px;
	font-family: Georgia;
	font-weight: bold;
}
#singlepost h2{
	margin-bottom: 20px;
}
#singlepost p{
	margin-bottom: 20px;
	font-size: 20px;
	font-family: "Times New Roman"
}
#singlepost img{
	margin-bottom: 20px;
}
/* CONTACT PAGE */
#contactpost p{
	margin-bottom: 25px;
}
input[type="user"]{
	display: block;
	float: right;
	height: 20px;
	width: 280px;
	padding-left: 3px;
}
input[type="email"]{
	display: block;
	float: right;
	height: 20px;
	width: 280px;
	padding-left: 3px;
}
#message{
	display: block;
	float: right;
	width: 280px;
	height: 130px;
	padding-left: 3px;
}
input[type="submit"]{
	display: block;
	float: right;
	font-family: sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	border: 2px outset #b2b2b2;
	color: #121212;

}
input, #message{
	margin-right: 180px;
	background-color: #f8f8f8;
	border: 2px inset #000;
	border-radius: 3px;
}
input[type="submit"]:hover{
	cursor:pointer;
}
input[type="submit"]:active{
	border: 2px inset #b2b2b2;
}

/************* F U L L  W I D T H   &  S I N G L E   P O S T    S T Y L E*********************/
#fullwidth h1,#fullwidth  h2,#fullwidth  h3,#fullwidth  h4,#fullwidth  h5,#fullwidth  h6, h1, h2, h3, h4, h5, h6{
	font-family: sans-serif;
	text-transform: uppercase;
	font-weight: normal;
}
#fullwidth section h2, #singlepost section h2{
	color: #b82924;
}

#fullwidth section a, #singlepost section a{
	text-decoration: underline;
}
#fullwidth section ul li, #singlepost section ul li{
	list-style-type: square;
	margin-left: 20px;
}
#fullwidth section ol li, #singlepost section ol li{
	list-style-type: decimal;
	margin-left: 20px;
}
.right{
	float: right;
	margin-left: 10px;
}
.left{
	float: left;
	margin-right: 10px;
}
.center{
	display: block;
	text-align: center;
	margin: 20px auto;
}

/************* F O O T E R     S T Y L E *************************/
.bottom-menu ul li {
	display:inline-block;
	margin:0 12px;
}
.bottom-menu ul li a {
	font-size:0.9em;
	font-weight:normal;
	text-decoration:none;
	color:#0000ff;
}
.bottom-menu ul li a:hover {
	color:green;
}
.footer {
	padding:1.5em 0;
	border-top: 1px dotted #202021;
	margin-top:2em;
}
.text-center {
  text-align: center;
}
.copyright {
	padding:2em 0 1em 0;
}

.contact-section{
	padding:3em 0;
}
.contact-section-head h3 {
	color: #020202;
	font-size: 2em;
	font-weight: 500;
	font-family: 'bebasregular';
	margin-bottom: 0.8em;
}
.map{
	width:100%:
}
.map iframe{
	min-height:350px;
	width:100%;
}
.address p {
	color: #777777;
	font-size: 1.15em;
	font-weight: 500;
	line-height: 1.5em;
}
.address h5 {
	color: #222222;
	font-size: 1.3em;
	font-weight: 600;
	margin-bottom:0.8em;
}
p.bottom{
	margin-bottom:0.9em;
}
.contact-form-row span {
	color: #777777;
	font-weight: 700;
	font-size: 1.2em;
	display: block;
	margin-bottom: 5px;
}
.contact-form-row input[type="text"], .contact-form-row textarea {
	width: 100%;
	color: #777777;
	font-size: 16px;
	padding: 7px 10px;
	border: none;
	outline: none;
	margin: 0 0px 15px 0;
	background: #ededed;
	border-radius:5px;
	margin-bottom:18px;
}
.contact-form-row textarea {
	resize:none;
	height:130px;
}
img.code{
	margin-bottom:1em;
}
.contact-form-row input[type="submit"] {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing:1px;
	font-weight: 400;
	border: 1px solid #fff;
	padding: 12px 26px;
	outline: none;
	background: #cf0000;
	margin-top: 1em;
	border-radius:5px;
}
.contact-form-row input[type="submit"]:hover{
	background:#000;
}
.contact-form-bottom {
	margin-top: 2em;
}

/*About*/

.team h3 {
	color: orange;
	font-size: 2em;
	font-weight: 500;
	font-family: 'bebasregular';
	margin-bottom: 0.8em;
}
.team img {
	width: 140px;
	height: 140px;
}
.team-grid img {
	width:100%:
}
.team-grid p {
	color: #848484;
	font-size: 0.95em;
	font-weight: normal;
	line-height: 1.5em;
	margin: 8px 0;
}
.team-grid h5 {
	color: #ff3399;
	font-size: 13px;
	font-weight: bold;
	margin-top:1em;
}
