#navigationNew li{
    display: inline;
    padding: 1.1em 1.5533555em 0.9em;
    text-align: center;
    text-decoration: none;

}

#navigationNew a {
    text-decoration: none;
    font-family:'bebasregular';
    color: #ECEDED;
    font-size: 1.1em;
    text-align: left;
    text-space: 10px;
}

#navigationNew ul {

    margin-top: 30px;
}



#navigationNew li:hover {
    background-color: crimson;
}


#navigationNew {
    position: relative;
    float:left;
    margin: 30px 20px 10px ;
    border:2px;
    width: 1090px;
    height: 80px;
    background-color: #6699ff;
}


.personInfo {

    border-right: 1px dotted;
    width: 230px;
    height: 270px;
    margin-top: 10px;
    margin-left: 28px;
    float: left;
}


.text-center {
    text-align: center;
}

.bottom-menu ul li {
    display:inline-block;
    margin:0 12px;
}

.bottom-menu ul li a {
    font-size:0.9em;
    font-weight:normal;
    text-decoration:none;
    color:#020305;
}

.bottom-menu ul li a:hover {
    color:#cf0000;
}
.bottom-menu ul li {
    margin: 0 4px;
}
.bottom-menu ul li a {
    font-size: 0.875em;
}

.bottom-menu ul li {
    margin: 0 -1px;
}

